.history-container {
    margin-top: 20px;
  }
  
  .history-title {
    margin-bottom: 16px;
  }
  
  .history-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .history-table th,
  .history-table td {
    padding: 14px;
    border-bottom: 1px solid #e5e7eb;
    text-align: left;
    font-size: 14px;
  }
  
  .history-table th {
    background-color: #f9fafb;
    color: #374151;
  }
  
  .url-cell {
    max-width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .link-btn {
    background: none;
    border: none;
    color: #2563eb;
    font-size: 14px;
  }
  
  .link-btn:hover {
    text-decoration: underline;
  }
  
  /* Modal */
  
  /* .modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 60px;
  }
  
  .modal-box {
    background: white;
    width: 90%;
    max-width: 800px;
    max-height: 80vh;              
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;              
  }
  
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;              
    top: 0;
    background: white;
    padding-bottom: 10px;
    margin-bottom: 10px;
    z-index: 1;
  } */

  .modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 60px;
  }
  

  .modal-box {
    background: white;
    width: 90%;
    max-width: 800px;
    max-height: 85vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #e5e7eb;
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
  }

  .modal-content {
    padding: 16px;
    overflow-y: auto;
    flex: 1;
  }
  
  /* Hide scrollbar – Chrome, Edge, Safari */
  .modal-content::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar – Firefox */
  .modal-content {
    scrollbar-width: none;
  }
  
  
  
  .close-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  .modal-summary {
    margin: 12px 0 20px;
    color: #4b5563;
  }
  